<!DOCTYPE html>

 <html lang="en" dir="ltr">

<head>
<meta charset="UTF-8">
<title> signup </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<meta name="viewport" content="width=device-width, initial scale=1.0">
</head>
<h1 class="textE">Symmatric</h1>
<body>

<div class="container">
	
	<img src="/template/images/1694077259260.jpg" width="110px" class="images1">
	<pre>      </pre><h1 style="color: rgb(211, 53, 119);" class="two" >signup</h1>
     <div class="login-form">


<div class="input-boxes">
	<div class="input-box">
		<i class="fas fa-envelope icon2"></i>
		<input type="email"  class="input-box" id="custom-input" required   name="email">
		<label for="custom-input" class="custom-placeholder" id="myInput">Email</label>
        
	</div>
	<div class="input-box">
		<i class="fas fa-lock icon"></i>
		<input type="password"  required  id="myInput"  class="input-box"   name="name">
		<label for="custom-input" id="myInput"    class="custom-placeholder2">Password</label>
		<span class="toggle-password" onclick="togglePasswordVisibility()">&#128065;</span>
		
	</div>
    
	<div class="button input-box">
		
		<input type="submit"  value="signup" class="input-box1">
		
	</div>




	<div class="text"><p>Don't you have an account?<a href="#" style="color: rgb(186, 7, 67);"><b>Login</b></a></p></div>
<pre>





</pre>
	<div class="text"><p>By signing up agree to our<a href="#" style="color: rgb(186, 7, 67);"><b>Terms & conditions</b></a></p></div>
</div>


</div> 


</form>

</div>

<script>
// script.js
const inputField = document.getElementById("myInput");

inputField.addEventListener("focus", () => {
    inputField.value = ""; // Clear the input field
});

</script>

</body>
 </html>